body{
  background-image: url("smartmockups_khorsff8 1.png"), url("image 45.png");
  background-position: right bottom, left top;
  background-repeat: no-repeat, repeat;
}
#container{
  padding: 3% 7%;

}
#top{
  width: 100%;
  display: flex;
}
#logo{
  width: 60%;
}
#countdown{
  width: 40%;
}
#logo p{
  color: #C0C0C0;
}
#mid{
  width: 60%;
  padding-top: 8%;
}
#mid p{
  color: #C0C0C0;
  width: 60%;
  font-style: bold;

}
#mid h1{
  font-style: bold;
  font-size: 50px;
}
#signup{
  display: inline-flex;
  width: 60%;
}
#input-email{
  position: relative;
  width: 90%;
  height: 40px;
}
#email{
  width: 50%;
  height: 40px;
  padding-left:40px;
  outline: none;
  border-radius: 4px;
  border: 1px solid #aaa;
  color: black;
}
#input-email i {
  position: absolute;
  left:5px;
  top: 7px;
  padding: 9px 8px;
  color: #aaa;
  transition: 0.3s;
  color: black;
}
.button{
  background-color: #0073CF;
  border: none;
  color: white;
  border-radius:15px;
  text-align: center;
  width: 20%;
  height: 50px;
  font-size: 15px;
  cursor: pointer;
  right:50px;  
}
#footer{
  padding-top: 15%;
  font-size: 30px;
  margin-right: 5%;
}
#footer i{
  font-size: 30px;
  margin-right: 2%;
}
.clock-row{
  display: flex;
}
.clock-item .inner {
  background-color: #C0C0C0;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  position: relative;
  margin-right: 10px;
}
.clock-canvas {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  height: 115px;
  width: 115px;
  top: 50%;
  left: 50%;
  margin: -60px 0px 0px -60px;
}
.text {
  color: black;
  font-weight: bold;
  margin-top: -50px;
  position: absolute;
  top: 50%;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  width: 100%;
}
.text .val {
font-size: 25px;
text-align: center;
}
.text .type-time {
font-size: 15px;
color: #C0C0C0;
text-align: center;
}

